<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/fragments :: page_head('Categories - Shopevan', 'none')"></head>

<body>
	<div class="container-fluid">
		<div th:replace="layouts/navigation :: menu"></div>

		<div class="m-3">
			<h3>Category Manager</h3>
			<a th:href="@{/categories/new}" class="fas fa-plus-square icon-dark mr-3" title="Create new user"></a>
			<a th:href="@{/categories/export/csv}" class="fas fa-file-csv icon-dark mr-3" title="Export to CSV"></a>
		</div>
		<hr>

		<!-- Form search by keyword -->
		<div th:replace="layouts/fragments :: search_form('/categories')"></div>

		<!-- Show categories  -->
		<div class="full-details">
			<table class="table table-striped table-bordered table-hover">
				<thead class="thead-dark">
					<tr>
						<th>Id</th>
						<th>Image</th>
						<th  th:replace="layouts/fragments :: column_link('/categories', 'name', 'Name', 'none')" ></th>
						<th>Alias</th>
						<th>Enabled</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="category : ${listCategories}">
						<td>
							[[${category.id}]]
						</td>
						<td>
							<img th:src="@{${category.imagePath}}" style="width: 100px" class="image-fluid" />
						</td>
						<td>
							[[${category.name}]]
						</td>
						<td>
							[[${category.alias}]]
						</td>
						<td>
						<div th:replace="layouts/fragments :: status(${category.enabled}, 'category', '/categories/' + ${category.id})"></div>
						</td>
						<td>
							<div th:replace="layouts/fragments :: edit('/categories', 'category', ${category.id})"></div>
							<div th:replace="layouts/fragments :: delete('/categories', 'category', ${category.id})"></div>					
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- Pagination  -->
		<div th:replace="layouts/fragments :: pagination('/categories', 'top level categories')"></div>
		
		<!-- Delete user confirmation modal -->
		<div th:replace="layouts/modal :: delete_confirm"></div>

		<!-- Footer -->
		<div th:replace="layouts/fragments :: footer"></div>
	</div>
	
	<!-- Script -->
	<script th:src="@{/js/common_list.js}"></script>
	<script type="text/javascript">
		moduleURL = "[[@{/categories}]]";

		$(document).ready(function(e){
			$(".link-delete").on("click", function(e){
				e.preventDefault();
				showDeleteConfirmModal($(this), 'category');
			});
		});
	</script>
</body>

</html>