<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="info" class="col-sm-2">
		<div>
			<a th:href="@{'/product/' + ${product.alias}}"> <img
				alt="Product Image" th:src="@{${product.mainImagePath}}"
				width="80px" /><br />
			<b>[[${product.shortName}]]</b>
			</a>
		</div>
		<div th:if="${product.discountPercent <= 0}">
			<div th:replace="product/fragments :: price(${product.price})"></div>
		</div>
		<div th:if="${product.discountPercent > 0}">
			<span style="font-size: larger; color: darkred">
				<div th:replace="product/fragments :: price(${product.discountPrice})"></div>
			</span><br />
			<del>
				<span>
					<div th:replace="product/fragments :: price(${product.price})"></div>
				</span>
			</del>
		</div>
	</div>

	<div th:fragment="price(productPrice)" th:remove="tag">
		<span th:if="${CURRENCY_SYMBOL_POSITION == 'Before price'}"
			th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>[[${#numbers.formatDecimal(productPrice,
		1, THOUSANDS_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]] <span
			th:if="${CURRENCY_SYMBOL_POSITION == 'After price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
	</div>
</body>
</html>
