<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Shop - Login</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, minimum-scale=1.0">

	<!-- Bootstrap, Jquery CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>

<body>
	<div class="container-fluid text-center">
		<img alt="logo" th:src="@{/images/springboot-logo.png}"
			style="width: 150px;" class="m-5" />
		<form th:action="@{/login}" method="POST" style="max-width: 500px; margin: 0 auto;">
			<div th:if="${param.error}">
				<p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
			</div>
			<div th:if="${param.logout}">
				<p class="text-warning">Have been logged out!</p>
			</div>			
			<div class="border border-secondary rounded p-3">
				<h5 class="text-center">Access to shop</h5>
				<p><input type="email" name="email" class="form-control" placeholder="Email address" required autofocus></p>
				<p><input type="password" name="password" class="form-control" placeholder="Password" required></p>
				<p><input type="checkbox" name="remember-me" />&nbsp;Remember me</p>
				<input class="btn btn-primary btn-block" type="submit" value="Login" />
				<!-- <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button>
		              <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button> -->
			</div>
		</form>
		<div th:replace="layouts/fragments :: footer"></div>
	</div>
</body>

</html>