<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Page head -->
<head th:replace="layouts/fragments :: page_head('Users - Shop Admin', 'none')" />

<body>
	<div class="container-fluid">
		<!-- Navbar -->
		<div th:replace="layouts/navigation :: menu"></div>

		<!-- Page head -->
		<div class="m-3">
			<h3>
				<span class="fas fa-users"></span> User Manager

			</h3>
			<a th:href="@{/users/new}" class="fas fa-user-plus icon-dark mr-3" title="Create new user"></a>
			<a th:href="@{/users/export/csv}" class="fas fa-file-csv icon-dark mr-3" title="Export to CSV"></a>
			<a th:href="@{/users/export/exel}" class="fas fa-file-excel icon-dark mr-3" title="Export to Excel"></a>
			<a th:href="@{/users/export/pdf}" class="fas fa-file-pdf icon-dark mr-3" title="Export to PDF"></a>		

		</div>
		<hr>

		<!-- Form search by keyword -->
		<div th:replace="layouts/fragments :: search_form('/users')"></div>

		<!-- Show list users -->
		<div class="full-details">
			<table class="table table-striped table-bordered table-hover">
				<thead class="thead-dark">
					<tr>
						<th class="hideable-column">
							<th th:replace="layouts/fragments :: column_link('/users', 'id', 'User ID', 'tag')" />
						</th>
						<th>Photo</th>
						<th th:replace="layouts/fragments :: column_link('/users', 'firstName', 'First Name', 'none')" />
						<th th:replace="layouts/fragments :: column_link('/users', 'lastName', 'Last Name', 'none')" />
						<th class="hideable-column">
							<th th:replace="layouts/fragments :: column_link('/users', 'email', 'Email', 'tag')" />
						</th>
						<th>Role</th>
						<th th:replace="layouts/fragments :: column_link('/users', 'enabled', 'Enabled', 'none')" />
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${listUsers}">
						<td class="hideable-column">[[${user.id}]]</td>
						<td>
							<span th:if="${user.photos == null}" class="fas fa-portrait fa-3x icon-dark"></span>
							<img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}"
								style="width: 100px" />
						</td>
						<td>[[${user.firstName}]]</td>
						<td>[[${user.lastName}]]</td>
						<td class="hideable-column">[[${user.email}]]</td>
						<td>[[${user.roles}]]</td>
						<td>
							<div th:replace="layouts/fragments :: status(${user.enabled}, 'user', '/users/' + ${user.id})"></div>
						</td>
						<td>
							<div th:replace="layouts/fragments :: edit('/users', 'user', ${user.id})"></div>
							<div th:replace="layouts/fragments :: delete('/users', 'user', ${user.id})"></div>						
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="less-details">
			<div th:each="user : ${listUsers}" class="row m-1">
				<div class="col-4">
					<span th:if="${user.photos == null}" class="fas fa-portrait fa-3x icon-dark"></span>
					<img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}" style="width: 80px" />
				</div>
				<div class="col-8">
					<div>[[${user.fullName}]]</div>
					<div>[[${user.roles}]]</div>
					<div class="mt-2">
						<div th:replace="layouts/fragments :: status(${user.enabled}, 'user', '/users/' + ${user.id})"></div>&nbsp;				
						<div th:replace="layouts/fragments :: edit('/users', 'user', ${user.id})"></div>
						<div th:replace="layouts/fragments :: delete('/users', 'user', ${user.id})"></div>			
					</div>
				</div>
				<div>
					&nbsp;
				</div>
			</div>
		</div>

		<!-- Pagination  -->
		<div th:replace="layouts/fragments :: pagination('/users', 'users')"></div>
		
		<!-- Delete user confirmation modal -->
		<div th:replace="layouts/modal :: delete_confirm"></div>

		<!-- Footer -->
		<div th:replace="layouts/fragments :: footer"></div>
	</div>

	<!-- Script -->
	<script th:src="@{/js/common_list.js}"></script>
	<script type="text/javascript">
		moduleURL = "[[@{/users}]]";

		$(document).ready(function(e){
			$(".link-delete").on("click", function(e){
				e.preventDefault();
				showDeleteConfirmModal($(this), 'user');
			});
		});
	</script>
</body>

</html>